/* とっしーpart */
.sunsetamerican{
  text-align: center;
  }
  
  .american_intro{
    margin: 40px 40px 50px 40px;
  }
  
  
  /* スライド */
  .slide-container{
    display: flex;
    width: 100%;
    height: 600px;
    transition: all 1s ease;
  }
  
  .container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  
  .left-arrow,.right-arrow{
    cursor: pointer;
  }
  
  .left-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
  }
  
  .right-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .slide{
    min-width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 300px;
  }
  
  .slide:nth-child(1){
    background-color: gray;
  }
  .slide:nth-child(2){
    background-color: rgb(252, 255, 71);
  }
  .slide:nth-child(3){
    background-color: rgb(255, 71, 157);
  }
  
  
  
  
  
  /* タブ */
  .tab1{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .shop_pic{
    width: 500px;
    height: auto;
    margin-left: 30px;
  
  }
  
  .shop_title{
    font-size: 30px;
    margin-left: 30px;
  }
  
  .shop_intro{
    display: flex;
  }
  
  .shop_context{
    margin-left: 30px;
  }
  
  .tab-list_shop{
    display: flex;
  }
  
  .tab-list_shop li{
    padding: 10px;
    background-color: beige;
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .tab-list_shop li:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  .container_shop{
    width: 100%;
    height: 600px;
    position: relative;
  }
  
  
  .box_shop{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .box_shop::after{
    /* /* content: 'コンテンツ内容';
    position: absolute; */
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  } */
  
  #hako1{
    background-color: gray;
  }
  #hako2{
    background-color: silver;
  }
  #hako3{
    background-color: rgb(64, 224, 131);
  }
  
  .current_shop{
    z-index: 1;
    opacity: 1;
  }



  /* haruna */

  .tab-list{
    display: flex;
  }
  
  .tab-list li{
    padding: 10px;
    background-color: beige;
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .tab-list li:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  .container{
    text-align: center;
    width: 100%;
    height: 600px;
    position: relative;
  }
  
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .box::after{
      
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  
  #box1{
    background-image: url(./img/ocean.png);
    background-size: cover;
    /* background-color: rgb(126, 212, 203); */
  }
  #box2{
      background-image: url(./img/sunset.png);
      background-size: cover;
    /* background-color: rgb(176, 141, 241); */
  }
  
  .current{
    z-index: 1;
    opacity: 1;
  }

  .question,.answer{
    padding: 10px;
    background-color: beige;
    color:black;
    border: solid 1px;
  }
  
  .question{
    position: relative;
    cursor: pointer;
  }
  
  .question::after,.question::before{
    content: '';
    display: block;
    background-color: black;
    position: absolute;
  }
  
  .question::after{
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
  }
  
  .question::before{
    width: 2px;
    height: 20px;
    right: 19px;
    top: 30%;
  }
  
  .question.on::before{
    display: none;
  }
  
  .answer{
    display: none;
    background-color: whitesmoke;
  }
  
  /* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  h1{
    text-align: center;
    margin: 30px 0;
  }
  
  h2{
    margin: 10px 0;
  }
  
  section{
    padding: 20px 30px;
    border: solid 2px #000;
    margin: 10px 0;
  } */
  